<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body" style="border-radius: 10px; width: 500px; margin: 0 auto;">
          <h1 class="text-center">Ini Halaman Untuk Edit Data</h1>
          <!-- <form action="/users/add" method="POST">
            <div class="mb-3">
              <label class="form-label">Judul</label>
              <input type="text" class="form-control" id="judul" name="judul" placeholder="Judul">
            </div>
            <div class="mb-3">
              <label class="form-label">Calories</label>
              <input type="text" class="form-control" id="calories" name="calories" placeholder="Calories">
            </div>
            <div class="mb-3">
              <label class="form-label">Fat</label>
              <input type="text" class="form-control" id="fat" name="fat" placeholder="Fat">
            </div>
            <div class="mb-3">
              <label class="form-label">Carbs</label>
              <input type="text" class="form-control" id="carbs" name="carbs" placeholder="Carbs">
            </div>
            <div class="mb-3">
              <label class="form-label">Protein</label>
              <input type="text" class="form-control" id="protein" name="protein" placeholder="Protein">
            </div>
            <button type="submit" class="btn btn-success btn-block">Login</button>
          </form> -->
        </div>
      </div>
    </div>
  </div>